<!-- <h2 class='test'>I Was Responsible For Both Backend And Frontend Of The Entire App, Using Cordova Powered Ionic3 Cli (command line interface) Of Angular4, Typescript as scripting and Scss For Styling. I was able to Reproduce A Taxify Inspired App For A Small Startup. </h2> -->
<!-- <h1>EDUCATION</h1>
<hr class='right'>
  <div class='center_item'> 
      <img class='badges' src='../assets/work_images/mick_logo.png'>
    <h1><a href="https://mouau.com">MICHEAL OPKARA UNIVERSITY UMUDIKE NIGERIA.</a></h1>
    <p>2011 - 2015</p>
    <p>STUDIED <strong>ACCOUNTANCY</strong></p>
  </div>
  <hr class='right'> -->
     <h1>WORK EXPERIENCE</h1>
     <hr class='right'>
     <div class='center_item'> 
        <img class='badges' src='../assets/work_images/gamsole_log.png'>
        <h1><a href="https://gamsole.com">GAMSOLE</a></h1>
        <p>2015 - 2016</p>
        <p>JOB <strong>FRONTEND DEVELOPER</strong></p>
        <hr class='right'>
        <p><strong>ROLE</strong></p>
        <hr class='right'>
        <p>At Gamsole, I Was Responsible For The Development Of UI, UX and Frontend Of A Qiuz Game Built With Html 5, While Another Developer Took Charge Of Creating a Html Layout of the quiz categories which when entered, Leads to the Game Play section where I took charge. I created a turn based qiuz, Adding an AI to Play Against The Main Player With Various Levels Of Difficulty. The Score Will Then Be calculated And The Winner Is Shown At The End Of The Last Question. This Is Then Submitted To The Database To Access A Players Rank.  </p>
        <hr class='right'>
        <p><strong>TOOLS</strong></p>
        <hr class='right'>
        <strong>JQUERY, CSS AND HTML</strong>
        <hr class='right'>
        <p> <strong>JQUERY</strong> With Jquery I was Able To Seamlessly Run The Code That Powered The Game Play Section, Leveraging The Power Of Json To Pass The Questions And Answers Through Php To The Database. </p>
        <p> <strong>CSS</strong> I Really Enjoyed The Styling Aspect Of The Whole Project, The styling was Spot On.</p>
        <p> <strong>HTML</strong> The Html Was Set Up Properly Too.</p>
        <hr class='right'>
        <p><strong><a href="https://taxihub.com,ng">Check Out The Project On Github</a></strong></p>
        <hr class='right'>
      </div>
      <hr class='right'>
      <h1>REMOTE JOB</h1>
      <hr class='right'>
      <div class='center_item'> 
          <img class='badges' src='../assets/work_images/legendsoflearning.png'>
         <h1><a href="https://legendsoflearning.com">LEGENDS OF LEARNING</a></h1>
         <p>2016 - 2017</p>
         <p>JOB <strong>WEBGL DEVELOPER</strong></p>
         <hr class='right'>
         <p><strong>ROLE</strong></p>
         <hr class='right'>
          As A Remote Job, I built Two Webgl Games For Grade 2 and 3 Pupils, Living In The United States. I integrated The Api For Recording The Quiz Score, Timeout, Sound and Controls given By The legendsoflearning. 
         <hr class='right'>
         <p><strong>TOOLS</strong></p>
         <hr class='wrong'>
         <strong>UNITY</strong><hr class='wrong'><p>I used Unity Due To Its Support For Webgl and Upcoming Html5 support. I had A bit Of Issue When It came To Running The Game On Web. But Solved This By Practising Great Optimization Techniques.</p>  
         <hr class='wrong'><strong>C#</strong><hr class='wrong'><p>As The Major Script, I was Able To Find My Way Around C# Due To My Experience With Typescript.</p> 
         <hr class='wrong'><strong>Gimp</strong><hr class='wrong'><p>Graphics Editing and Artwork Was Done Entirely On Gimp.</p> 
         <hr class='right'>
         <p><strong><a href="https://taxihub.com,ng">Check Out The Projects On Github</a></strong></p>
         <hr class='right'>
        </div>
        <hr class='right'>
        <h1>FREELANCING</h1>
        <hr class='right'>
        <div class='center_item'> 
            <img class='badges' src='../assets/work_images/icon.png'>
           <h1><a href="https://taxihub.com.ng">TAXIHUB</a></h1>
           <p>2017 - PRESENT</p>
           <p>PROJECT <strong>TAXIBOOKING APP</strong></p>
           <hr class='right'>
           <p><strong>ROLE</strong></p>
           <hr class='right'>
           <strong>Start The App</strong><hr class='wrong'><p> For This Project, I created Two Different Apps. The Client App and The Driver App. The Client App Worked By Creating An Account, Adding A Phone Number Then Your Location Is Automatically Selected, But You Could Point The Marker Elsewhere To Choose Another Location.</p>
           <hr class='wrong'><strong>Request A Taxi</strong><hr class='wrong'><p> When A User Books A ride, Then User Details Are Sent To The Database With The Notification Id Of The First Driver Available, Then After 60 seconds And No reply, Then it is shifted To Another driver.</p>
           <hr class='wrong'><strong>Get Accepted By A Driver</strong><hr class='wrong'><p> Once You Get A Driver Then Your Phone Vibrates And The Credentials Of The Driver Appears on Your Screen, As well as The Distance Between You And Your Driver Are Displayed As well.</p>
           <hr class='wrong'><strong>Get To Your Destination And Pay Up</strong><hr class='wrong'><p> On Completion Of the ride your payment reciept is shown to you, then you can check out and rate your ride and then, you are ready for another booking.</p>
           <hr class='right'>
           <p><strong>TOOLS</strong></p>
           <hr class='right'>
           <p><strong>FIREBASE, IONIC3, ANGULAR4 AND NODEJS</strong></p>
           <hr class='right'>
           <strong>FIREBASE</strong><hr class='wrong'><p> This Was Used For The Entire Project, As An excellent database for Both Apps </p>  
           <hr class='wrong'><strong>IONIC3</strong><hr class='wrong'><p> This Works By Combining The Power Of Angular and cordova as a native wrapper for A webview App</p> 
           <hr class='wrong'><strong>ANGULAR4</strong><hr class='wrong'><p>Javascript Framework Running The Entire Project</p>
           <hr class='wrong'><strong>NODEJS</strong><hr class='wrong'><p>Server side Javascript for Debugging and Installation.</p>
           <hr class='wrong'><strong>VISUAL STUDIO CODE</strong><hr class='wrong'><p>With A built-in Git, Great Support For Typescript and More. Visual studio makes the job a lot easier</p>
           <hr class='right'> 
           <p><strong><a href="https://taxihub.com,ng">Check Out The Projects On Github</a></strong></p>
           <hr class='right'>
          </div>
          <hr class='right'>
          <h1>More Of My Projects To Be Added Soon</h1>
          <hr class='right'>