<!-- <h2 class='test'>I Was Responsible For Both Backend And Frontend Of The Entire App, Using Cordova Powered Ionic3 Cli (command line interface) Of Angular4, Typescript as scripting and Scss For Styling. I was able to Reproduce A Taxify Inspired App For A Small Startup. </h2> -->
<h1>GET IN TOUCH</h1>
<hr class='right'>
  <div class='center_item'> 

         <div class='button'>CALL: <p>09027504466</p>
        </div>
        <div class='button'>EMAIL: <p>playstudio86@gmail.com</p>
        </div>
        <div class='button'>SKYPE: <p>chndth@live.com</p>
        </div>
<!--         
      <form action="mailto:playstudio86@gmail.com" method="post" enctype="text/plain">
        <label for="lname">Name</label>
      <input type="text" name="name" placeholder="Your name..">
      <label for="lname">Your Email</label>
      <input type="text" name="mail" placeholder="Your email..">
      <label for="lname">Comments</label>
      <input type="text" name="comment" size="50" placeholder="Any Comment.."><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
      </form> -->
  </div>
    
    