<!-- <h2 class='test'>I Was Responsible For Both Backend And Frontend Of The Entire App, Using Cordova Powered Ionic3 Cli (command line interface) Of Angular4, Typescript as scripting and Scss For Styling. I was able to Reproduce A Taxify Inspired App For A Small Startup. </h2> -->
<h1>MAJOR SKILLS</h1>
<hr class='right'>
<ul class="center_items">
       <li><img class='badges' src='../assets/skill_set/ionic.png'>
        <h1>IONIC 3+</h1>
        <img class='stars' src='../assets/stars/star_3.png'>
      </li>
       <li><img class='badges' src='../assets/skill_set/angular.png'>
        <h1>ANGULAR 4</h1>
        <img class='stars' src='../assets/stars/star_2.png'>
      </li>
       <li><img class='badges' src='../assets/skill_set/typescript.png'>
        <h1>TYPESCRIPT</h1>
        <img class='stars' src='../assets/stars/star_2.png'></li>
        <li><img class='badges' src='../assets/skill_set/firebase_logo.png'>
          <h1>FIREBASE</h1>
          <img class='stars' src='../assets/stars/star_2.png'></li>
       <li><img class='badges' src='../assets/skill_set/nodejs.png'>
        <h1>NODEJS</h1>
        <img class='stars' src='../assets/stars/star_4.png'></li>
       <li><img class='badges' src='../assets/skill_set/sass.png'>
        <h1>SCSS</h1>
        <img class='stars' src='../assets/stars/star_2.png'></li>
     </ul>
     <hr class='right'>
     <h1>OTHER SKILLS</h1>
     <hr class='right'>
     <ul class="center_items">
     <li><img class='badges' src='../assets/skill_set/corona.png'>
      <h1>UNITY SDK</h1>
      <img class='stars' src='../assets/stars/star_1.png'></li>
     <li><img class='badges' src='../assets/skill_set/gimp.png'>
      <h1>GIMP EDITOR</h1>
      <img class='stars' src='../assets/stars/star_3.png'></li>
     </ul>


     <hr class='right'>
     <h1>DEVELOPING SKILLS</h1>
     <hr class='right'>
     <ul class="center_items">
     <li><img class='badges' src='../assets/skill_set/React.png'>
      <h1>REACT NATIVE</h1>
      <img class='stars' src='../assets/stars/star_1.png'></li>
     </ul>
     <hr class='right'>
     <h1>I'm Still Learning New Stuff Whenever They Become Necessary.</h1>
     <hr class='right'>