@font-face {
    font-family: 'MyWebFont';
    src:  
         url('../assets/fonts/roboto-light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/roboto-light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/fonts/roboto-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       
  }

.main {
    font-family: 'MyWebFont', Fallback, sans-serif;
 height: auto;
 
}

