<!-- <h2 class='test'>I Was Responsible For Both Backend And Frontend Of The Entire App, Using Cordova Powered Ionic3 Cli (command line interface) Of Angular4, Typescript as scripting and Scss For Styling. I was able to Reproduce A Taxify Inspired App For A Small Startup. </h2> -->
<h1>LATEST POSTS</h1>
<hr class='right'>
<ul class="center_items">
       <li (click)='gotoRoute(1)'><img class='badges' src='../assets/tutorial_images/device.jpg'>
        <h1>IONIC3 DEVICE TO DEVICE PUSH NOTIFICATION USING ONESIGNAL AND FIREBASE</h1>
      </li>
     </ul>
     
    