<header class="header">
    <div class="g-row">
      <div class="g-col">

        <div class="center_items">
          <img class="banner" src='../assets/myImage.jpg'>
          <h1>CHINEDU ETOAMAIHE</h1>
          <ul class="header__links">
              <li><a class="header__link header__link--linkedIn" href="https://linkedin.com/in/chinedu-etoh-a041a6105/"></a></li>
              <li><a class="header__link header__link--github" href="https://github.com/blinks32"></a></li>
              <!-- <li><a class="header__link header__link--facebook" href="https://taxihub.com,ng"></a></li> -->
              <li><a class="header__link header__link--stackoverflow" href="https://stackoverflow.com/users/6527399/chinedu-etoh"></a></li>
            </ul>
          <hr class='right'>
        </div>
          <h1 class="header__title">Self Taught Fullstack Ionic3 and Angular4 Developer Based in Lagos, Nigeria. With Great Love For UI and UX. </h1>
        <!-- <p class="bottom">Designed By Chinedu Etoamaihe</p> -->
        <hr class='wrong'>
        <img class="device" src='../assets/device.png'>
        <hr class='wrong'>
  <div class='tube' *ngIf='!smallDevice'>      
<iframe  width="200" height="150" src="https://www.youtube.com/embed/XGSy3_Czz8k">
</iframe>
</div>

<div class='tube' *ngIf='smallDevice'>  
<iframe  width="550" height="400" src="https://www.youtube.com/embed/XGSy3_Czz8k">
</iframe>
</div>

        <p class='bottom'>Designed By Chinedu.</p>
        <hr class='bottom'>
      </div>
    </div>
  </header>
