<header class="header">
    <div class="g-row">
      <div class="g-col">
          <div class="center_items">
              <div class='myslides'><img src='../assets/taxihub/phone.png'></div>
              <div class='myslides'><img  src='../assets/taxihub/phone2.png'></div>
              <div class='myslides'><img src='../assets/taxihub/phone3.png'></div>
              <div class='myslides'><img src='../assets/taxihub/phone4.png'></div>
              <div class='myslides'><img src='../assets/taxihub/phone5.png'></div>
              <!-- <div class='myslides'><img src='../assets/taxihub/phone6.png'></div> -->
            </div>
            <div><h1>CLIENT APP</h1></div>
            <hr class='right'>
        <p class="bottom">For This Project, I created Two Different Apps. The Client App and The Driver App. You Access The App By First Creating An Account, Adding A Phone Number, Then Using Gps Technology On Google Maps Api, Your Location Is Automatically Selected, But You Could Point The Marker Elsewhere To Choose Another Location. I completed The Entire Project In A month and 3 weeks.
          <a href="https://gamsole.com">Check Out The Open Source On Github</a></p>
      </div>
    </div>
    <hr class='right'>
  </header>
  <header class="header">
      <div class="g-row">
        <div class="g-col">
         
            <div class="center_items">
                <div class='myslides2'><img src='../assets/taxihub/drive.png'></div>
                <div class='myslides2'><img  src='../assets/taxihub/drive2.png'></div>
                <div class='myslides2'><img src='../assets/taxihub/drive3.png'></div>
                <div class='myslides2'><img src='../assets/taxihub/drive4.png'></div>
                <div class='myslides2'><img src='../assets/taxihub/drive5.png'></div>
              </div>
              <div><h1>DRIVER APP</h1></div>
              <hr class='right'>
          <p class="bottom">This is The Driver Version Of The App, Works With Onesignal device notification and google maps to make it easy for the driver to locate the client. The app recieves a notification from the client when set to active. Then when accepted, The client's details are displayed for the best experience. <a href="https://gamsole.com">Check Out The Open Source On Github</a></p>
        </div>
      </div>
      <hr class='right'>
    </header>

    <header class="header">
        <div class="g-row">
          <div class="g-col">
           
              <div class="center_items">
                  <div ><img class='myslide' src='../assets/dash/dash.png'></div>
                </div>
                <div><h1>DASHBOARD</h1></div>
                <hr class='right'>
            <p class="bottom">With The Dashboard The Team could see how many clients are signing up, accept the drivers after going through their credentials and also make changes to the company with the stats they collect. It Was Built With Angular4+ and Firebase as overall Database For The Entire Project. <a href="https://gamsole.com">Check Out The Open Source On Github</a></p>
          </div>
        </div>
        <hr class='right'>
      </header>

      <header class="header">
          <div class="g-row">
            <div class="g-col">
                <div class="center_items">
                    <div class='myslides3'><img src='../assets/chinedu/Screenshot1.png'></div>
                    <div class='myslides3'><img  src='../assets/chinedu/Screenshot2.png'></div>
                    <div class='myslides3'><img src='../assets/chinedu/Screenshot3.png'></div>
                    <div class='myslides3'><img src='../assets/chinedu/Screenshot4.png'></div>
                    <div class='myslides3'><img src='../assets/chinedu/Screenshot5.png'></div>
                  </div>
                  <div><h1>MY WEBSITE</h1></div>
                  <hr class='right'>
              <p class="bottom">Built With Sass and Angular4+. <a href="https://gamsole.com">Check Out The Open Source On Github</a></p>
            </div>
          </div>
        </header>
